<header class="bg-black w-full min-h-36 text-center text-2xl font-bold text-slate-300 flex justify-center items-center fixed" >
    <nav>
        <ul class="w-full h-full flex justify-center items-center gap-4 flex-wrap" >
            <li class="transition-all hover:text-white hover:scale-125 hover:translate-y-1" ><a href="/"  >Inicio</a></li>
            <li class="transition-all hover:text-white hover:scale-125 hover:translate-y-1" ><a href="/css"  >CSS</a></li>
            <li class="transition-all hover:text-white hover:scale-125 hover:translate-y-1" ><a href="/js"  >Javascript</a></li>
            <li class="transition-all hover:text-white hover:scale-125 hover:translate-y-1" ><a href="/tailwind"  >Tailwind</a></li>
            <li class="transition-all hover:text-white hover:scale-125 hover:translate-y-1" ><a href="/react"  >React</a></li>
            <li class="transition-all hover:text-white hover:scale-125 hover:translate-y-1" ><a href="/framer-motion"  >Framer Motion</a></li>
        </ul>
    </nav>
</header>